sudo: required
services:
  - docker

git:
  depth: 1

env:
  global:
    - DOCKER_IMAGE_NAME=unblibraries/dspace
    - DOCKER_IMAGE_TAG=6.x
    - DOCKER_UPSTREAM_IMAGE=maven:3-jdk-8-alpine
    - SERVICE_DEPLOY_PORT=80
    - SERVICE_NAME=docker-dspace
    - SERVICE_TEST_UP_PATH=/password-login

before_install:
  - curl -sSL https://raw.githubusercontent.com/unb-libraries/CargoDock/dspace-6.x/travis/deploy.sh | sh
  - CargoDock/travis/installDockerCompose.sh
  - mv docker-compose.yml.travis docker-compose.yml

script:
  - CargoDock/travis/buildInstanceForTesting.sh
  - CargoDock/travis/waitForDeploy.sh
  - CargoDock/travis/checkStartupForErrors.sh

after_success:
  - CargoDock/travis/triggerDockerHubBuild.sh
