version: '3.6'

services:
  docker-dspace:
    build:
      context: .
    restart: always
    env_file:
      - ./env/dspace.env
    container_name: docker-dspace
    networks:
      - docker-dspace

  docker-dspace-postgres:
    build:
      context: postgres/
    restart: always
    env_file:
      - ./env/postgres.env
    networks:
      - docker-dspace

  docker-dspace-angular:
    container_name: dspace-angular
    environment:
      DSPACE_HOST: localhost
      DSPACE_NAMESPACE: /
      DSPACE_PORT: '8080'
      DSPACE_SSL: "false"
    image: dspace/dspace-angular:latest
    networks:
       - docker-dspace
    stdin_open: true
    tty: true
    ports:
      - "8077:8080"
    volumes:
      - ./env/angular.ts:/app/src/environments/environment.dev.ts

networks:
  docker-dspace:
    name: docker-dspace
